<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head">
</head>
<body background="/images/fondo.jpg">
	<header th:replace="plantilla/plantilla :: header"></header>
	<div class="container">
		<h1>Registro de Mascota</h1>
	</div>

	<div class="container">

	<div class="card bg-secondary">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/views/Mascota/save}" th:object="${mascota}"
					method="post">
					<div class="form-group row">

						<input type="hidden" th:field="*{idMascota}"> 
						
						<div class="form-group row">
						<label
							class="col-md-2" for="idpropietario">IdPropietario:</label> <input
							type="text" th:field="*{idpropietario}"
							required=""
							class="form-control form-control-sm col-md-6" id="idpropietario"
							placeholder="Id del Propietario"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('idpropietario')}" th:errors="*{idpropietario}">
						</small>
					</div>
						
						<label
							class="col-md-2" for="nombre">Nombre:</label> <input
							type="text" th:field="*{nombre}"
							required=""
							pattern="[a-zA-Z\s]+"
							class="form-control form-control-sm col-md-6" id="nombre"
							placeholder="Nombres del mascota"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
						</small>
					</div>

					<div class="form-group row">
						<label class="col-md-2" for="edad">edad:</label> <input
							type="text" th:field="*{edad}"
							required=""
							pattern="[0-9]{2}"
							class="form-control form-control-sm col-md-6" id="edad"
							placeholder="ingrese edad de la mascota"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('edad')}"
							th:errors="*{edad}"> </small>
					</div>

				<div class="form-group col-md-4">
					<label for="inputState" class="form-label">Tipo de Mascota</label> <br>
					<select id="inputState" th:field="*{tipo}" class="form-select">
					    <option th:value=0>Seleccione</option>
						<option th:value="Perro">Perro</option>
						<option th:value="Gato">Gato</option>
						<option th:value="Conejo">Conejo</option>
						<option th:value="Hamster">Hamster</option>
					</select>
				</div>
	                <div class="form-group row">
						<label class="col-md-2" for="raza">Raza </label> <input
							type="text" th:field="*{raza}"
							required=""
							pattern="[a-zA-Z\s]+"
							class="form-control form-control-sm col-md-6" id="raza"
							placeholder="Ingrese la Raza "> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('raza')}" th:errors="*{raza}">
						</small>
					</div>
					
				<div class="form-group col-md-4">
					<label for="inputState" class="form-label">Vacunacion</label> <br>
					<select id="inputState" th:field="*{vacunacion}" class="form-select">
					<option th:value=0>Seleccione</option>
						<option th:value="Vacunacion-Completa">Vacunacion-Completa</option>
						<option th:value="Vacunacion-InCompleta">Vacunacion-InCompleta</option>
					</select>
				</div>
					

					<div class="card-footer bg-dark">
						<input type="submit" class="btn btn-primary btn-sm"
							value="Guardar">
					</div>

				</form>
			</div>
		</div>

	</div>

	<footer th:replace="plantilla/plantilla :: footer"></footer>

</body>
</html>