<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head">
</head>
<body>
	<header th:replace="plantilla/plantilla :: header"></header>
	<div class="container">
		
		</div>
	<div class="container">		
		<h1 th:text="${titulo}"></h1>	
	</div>
	
	<div class="container">
		
		
		<a class="btn btn-primary btn-sm" th:href="@{/views/Propietario/registrar}"
			th:text="'Nueva Propietario'" title="Crear Nueva Propietario">
			
		</a>
		
		
		
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID Propietario</th>
					<th scope="col">nombre</th>
					<th scope="col">apellidos</th>
					<th scope="col">dni</th>
					<th scope="col">Correo</th>
					<th scope="col">Telefono</th>
					<th scope="col">Fecha de Nacimiento</th>
					<th scope="col">fechaReg</th>
					<th scope="col">estado</th>
					<th scope="col">Editar </th>
					<th scope="col">Eliminar</th>
					
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="cl:${propietario}">
					<td th:text="${cl.idPropietario}"></td>
					<td th:text="${cl.nombre}"></td>
					<td th:text="${cl.apellidos}"></td>
					<td th:text="${cl.dni}"></td>
					<td th:text="${cl.correo}"></td>
					<td th:text="${cl.telefono}"></td>
					<td th:text="${cl.fechaNac}"></td>
					<td th:text="${cl.fechaReg}"></td>
					<td th:text="${cl.estado}"></td>
						
					<td>
						<a class="btn btn-success btn-sm" th:href="@{/views/Propietario/edit/} + ${cl.idPropietario}"
							th:text="'Editar'" title="Editar Visita">
						</a>
					</td>	
					<td>
						<a class="btn btn-danger btn-sm" th:href="@{/views/Propietario/delete/} + ${cl.idPropietario}"
							th:text="'Eliminar'" title="Eliminar Propietario"
							onclick="return confirm('Esta seguro de eliminar el registro?');">
						</a>
					</td>					
				</tr>
			</tbody>
		</table>


	</div>

	<footer th:replace="plantilla/plantilla :: footer"></footer>

</body>
</html>