<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head">
</head>
<body>
	<header th:replace="plantilla/plantilla :: header"></header>
	<div class="container">
			<h1>NO COLOCAR NADA</h1>
		</div>
	<div class="container">		
		<h1 th:text="${titulo}"></h1>	
	</div>
	
	<div class="container">
		
		
		<a class="btn btn-primary btn-sm" th:href="@{/views/visita/registrar}"
			th:text="'Nueva Visita'" title="Crear Nueva Visita">
		</a>
		
		<table class="table">
			<thead class="thead-dark">
				<tr>
				<th scope="col">ID Visita</th>
					<th scope="col">Visitante</th>
					<th scope="col">Residente</th>
					<th scope="col">Entrada</th>
					<th scope="col">Salida</th>
					<th scope="col" sec:authorize="hasRole('ROLE_GERENTE')">Editar</th>
					<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cl:${visita}">
					<th scope="row" th:text="${cl.idvisita}"></th>
					<td th:text="${cl.idvisitante.apellidos}" ></td>
					<td th:text="${cl.idresidente}"></td>
					<td th:text="${cl.horaentrada}"></td>
					<td th:text="${cl.horasalida}"></td>
						
					<td sec:authorize="hasRole('ROLE_GERENTE')">
						<a class="btn btn-success btn-sm" th:href="@{/views/visita/edit/} + ${cl.idvisita}"
							th:text="'Editar'" title="Editar Visita">
						</a>
					</td>	
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="btn btn-danger btn-sm" th:href="@{/views/visita/delete/} + ${cl.idvisita}"
							th:text="'Eliminar'" title="Eliminar Visita"
							onclick="return confirm('Esta seguro de eliminar el registro?');">
						</a>
					</td>					
				</tr>
			</tbody>
		</table>


	</div>

	<footer th:replace="plantilla/plantilla :: footer"></footer>

</body>
</html>