<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/plantilla :: head">
</head>

<body>
	<header th:replace="plantilla/plantilla :: header"></header>
	<div class="container">
	</div>

	<!-- MENSAJE DE ALERTA -->
	<div class="alert alert-success text center" th:if="${dniRepetido != null}" th:text="${dniRepetido}"></div>

	<!-- <div class="container"> -->

	<div class="card bg-light">
		<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
		<div class="card-body">

			<form th:action="@{/views/visita/save}" th:object="${visita}" method="post">
				<h1>Registro de Visitante</h1>

				<input type="hidden" th:field="*{idvisita}">

				
				<div class="col-md-6">
					<label class="form-label"> Visitante </label>
					<select class="form-select" aria-label="Default select example" formControlName="idsucursal" th:field="*{idvisitante}">
						<option value="-1" selected>Seleccionar</option>
						<option th:each="cl:${visitantes}" 
								th:value=${cl.idvisitante}
								th:text="${cl.nombre}" />
						       
					</select>
					          
				</div>

				<div class="form-group row">
					<label class="col-md-2" for="dni">Dni</label> <input type="text" th:field="*{dni}" required=""
						pattern="[0-9]{8}" class="form-control form-control-sm col-md-6" id="dni"
						placeholder="dni del residente"> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">
					</small>
				</div>

				<div class="col-md-6">
					<label class="form-label"> Residente </label>
					<select class="form-select" aria-label="Default select example" formControlName="idsucursal" th:field="*{idresidente}">
						<option value="-1" selected>Seleccionar</option>
						<option th:each="nl:${Residentes}" 
								th:value=${nl.idResidente}
								th:text="${nl.nombre}" />
						       
					</select>
					          
				</div>



				<div class="card-footer bg-dark">
					<input type="submit" class="btn btn-primary btn-sm" value="Guardar">
				</div>

			</form>
		</div>
	</div>

	</div>

	<footer th:replace="plantilla/plantilla :: footer"></footer>

</body>

</html>