<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="plantilla/plantilla :: head">
</head>
<body>
	<header th:replace="plantilla/plantilla :: header"></header>

	<div class="container">		
		<h1 th:text="${titulo}"></h1>	
	</div>
	
	<div class="container">
		
		
		<a class="btn btn-primary btn-sm" th:href="@{/views/vistante/registrar}"
			th:text="'Nuevo Visitante'" title="Crear Nuevo Registro">
		</a>
		
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nombres</th>
					<th scope="col">Apellidos</th>
					<th scope="col">Dni</th>
					<th scope="col">Correo</th>
					<th scope="col">Telefono</th>
					<th scope="col">Estado</th>
					<th scope="col" sec:authorize="hasRole('ROLE_GERENTE')">Editar</th>
					<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cl:${visitante}">
					<th scope="row" th:text="${cl.idvisitante}"></th>
					<td th:text="${cl.nombre}"></td>
					<td th:text="${cl.apellidos}"></td>
					<td th:text="${cl.dni}"></td>
					<td th:text="${cl.correo}"></td>
					<td th:text="${cl.telefono}"></td>
					<td th:text="${cl.activo}"></td>	
					<td sec:authorize="hasRole('ROLE_GERENTE')">
						<a class="btn btn-success btn-sm" th:href="@{/views/vistante/edit/} + ${cl.idvisitante}"
							th:text="'Editar'" title="Editar Visitante">
						</a>
					</td>	
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="btn btn-danger btn-sm" th:href="@{/views/vistante/delete/} + ${cl.idvisitante}"
							th:text="'Eliminar'" title="Eliminar Visitante"
							onclick="return confirm('Esta seguro de eliminar el registro?');">
						</a>
					</td>					
				</tr>
			</tbody>
		</table>


	</div>

	<footer th:replace="plantilla/plantilla :: footer"></footer>

</body>
</html>