<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/plantilla :: head">
</head>

<body background="/images/fondo.jpg">
	<header th:replace="plantilla/plantilla :: header"></header>
	<div class="container">

	</div>


	<div class="container">
	
		<form th:action="@{/views/boleta/filtro}" th:object="${boleta}" method="get">
		<div class="alert alert-success text center" th:if="${mensaje != null}" th:text="${mensaje}"></div>
			<div class="card-footer bg-dark">
				<div class="container">
					<h1 style="color:#FFFFFF;">BOLETAS</h1>
				</div>
				<div class="row" style="margin-top: 2%">
				<div class="col-lg-4">
						<label class="form-label" style="color:#FFFFFF;"> Servicios </label>
						<select class="form-select" aria-label="Default select example"
							formControlName="idcomboservicio" th:field="*{idcomboservicio}">
							<option value="-1" selected>Seleccionar</option>
							<option th:each="cl:${cboComboServicios}" th:value=${cl.IdComboservicio}
								th:text="${cl.Nombreserv}" />
							       
						</select>           
					</div>

					<div class="col-lg-4">
						<label class="form-label" style="color:#FFFFFF;"> Departamento </label>
						<select class="form-select" aria-label="Default select example" formControlName="iddepartamento"
							th:field="*{iddepartamento}">
							<option value="-1" selected>Seleccionar</option>
							<option th:each="cl:${cboDepartamento}" th:value=${cl.iddepartamento}
								th:text="${cl.numdepartamento}" />        
						</select>           
					</div>


					<div class="col-lg-4">
						<label class="form-label" style="color:#FFFFFF;"> Propietario </label>
						<select class="form-select" aria-label="Default select example" formControlName="idpropietario"
							th:field="*{idpropietario}">
							<option value="-1" selected>Seleccionar</option>
							<option th:each="cl:${cboPropietario}" th:value=${cl.idPropietario}
								th:text="${cl.nombre}" />
							       
						</select>           
					</div></div>
				<div style="width: 30%;">

					<button type="submit" class="btn btn-primary mb-2">Buscar</button>
				</div>
				<br>
			</div>
		</form>	

		<table class="table table-dark">
			<thead class="thead-dark">
				<tr>
					<th scope="col">IDBOLETA</th>
					<th scope="col">SERVICIOS</th>
					<th scope="col">PRECIO</th>
					<th scope="col">PROPIETARIO</th>
					<th scope="col">NUMERO DEP</th>
					<th scope="col">FECHAEMISION</th>
					<th scope="col">FECHAVENCIMIENTO</th>
					<th scope="col">ESTADO</th>
					<th scope="col">FECHAPAGO</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cl:${lstBoleta}">
					<td th:text="${cl.idboleta}"></td>
					<td th:text="${cl.idcomboservicio}"></td>
					<td th:text="${cl.Precioserv}"></td>
					<td th:text="${cl.idpropietario}"></td>
					<td th:text="${cl.iddepartamento}"></td>
					<td th:text="${cl.fechaEmision}"></td>
					<td th:text="${cl.fechaVenc}"></td>
					<td th:text="${cl.estado}"></td>
					<td th:text="${cl.fechapago}"></td>
					<td>
						<a class="btn btn-success btn-sm" th:href="@{/views/boleta/edit/} + ${cl.idboleta}"
							th:text="'FINALIZAR'" title="Editar Boleta">
						</a>
					</td>
				</tr>
			</tbody>
		</table>


	</div>

	

</body>

</html>