<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="plantilla/plantilla :: head">
</head>
<body>
	<header th:replace="plantilla/plantilla :: header"></header>

	<div class="container">		
		<h1 th:text="${titulo}"></h1>	
	</div>
	
	<div class="container">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">ID USER</th>
					<th scope="col">ID RESIDENTE</th>
					<th scope="col">TIPO</th>
					<th scope="col">DESCRIPCION</th>
					<th scope="col">ESTADO</th>
					<th scope="col">FECHA DE REGISTRO</th>
					<th scope="col">FECHA DE ATENCION</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="i:${incidencias}">
					<th scope="row" th:text="${i.idincidencia}"></th>
					<td th:text="${i.iduser}"></td>
					<td th:text="${i.idresidente}"></td>
					<td th:text="${i.tipo}"></td>
					<td th:text="${i.descripcion}"></td>
					<td th:text="${i.estado}"></td>
					<td th:text="${i.fechareg}"></td>		
					<td th:text="${i.fechaatencion}"></td>  	
					<td sec:authorize="hasRole('ROLE_GERENTE')">
						<a class="btn btn-success btn-sm" th:href="@{/views/incidencias/edit/} + ${i.idincidencia}"
							th:text="'Editar'" title="Editar Visitante">
						</a>
					</td>	
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="btn btn-danger btn-sm" th:href="@{/views/incidencias/delete/} + ${i.idincidencia}"
							th:text="'Eliminar'" title="Eliminar Incidente"
							onclick="return confirm('Esta seguro de eliminar el registro?');">
						</a>
					</td>					
				</tr>
			</tbody>
		</table>


	</div>

	<footer th:replace="plantilla/plantilla :: footer"></footer>

</body>
</html>