<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head">
</head>
<body background="/images/fondo.jpg">

	<header th:replace="plantilla/plantilla :: header"></header>
	
	<div class="container">
		<h1>Registro de Incidencias</h1>
	</div>

	<div class="container">

		<div class="card bg-secondary">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/views/incidencias/save}" th:object="${incidencias}"
					method="post">
					<div class="form-group row">

						<input type="hidden" th:field="*{idincidencia}"> 				
						<label
							class="col-md-2" for="iddepartamento">ID DEPARTAMENTO:</label> <input
							type="text" th:field="*{iddepartamento}"
							required=""
							pattern="[0-9]{1}"
							class="form-control form-control-sm col-md-6" id="iddepartamento"
							placeholder="Tipo de incidente"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('iddepartamento')}" th:errors="*{iddepartamento}">
						</small>
					</div>
                   
                      <div class="form-group col-md-4">
					<label for="inputState" class="form-label">TIPO</label> <br>
					<select id="inputState" th:field="*{tipo}" class="form-select">
						<option th:value=0>0</option>
						<option th:value=1>1</option>
					</select>
				   </div>
                   
 
                    <div class="form-group col-md-4">
					<label for="inputState" class="form-label">estado</label> <br>
					<select id="inputState" th:field="*{estado}" class="form-select">
						<option th:value=0>0</option>
						<option th:value=1>1</option>
					</select>
				   </div>
                    

					<div class="form-group row">
						<label class="col-md-2" for="causa">CAUSA:</label> <input
							type="text" th:field="*{causa}"
							required=""
							class="form-control form-control-sm col-md-6" id="tipo"
							placeholder="Tipo de Incidente"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('causa')}"
							th:errors="*{causa}"> </small>
					</div>
					
					<div class="form-group row">
						<label class="col-md-2" for="descripcion">DESCRIPÇION:</label> <input
							type="text" th:field="*{descripcion}"
							required=""
							class="form-control form-control-sm col-md-6" id="tipo"
							placeholder="Descripcion de Incidente"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('descripcion')}"
							th:errors="*{descripcion}"> </small>
					</div>
                    
                    <div class="card-footer bg-dark">
					<input type="submit" class="btn btn-primary btn-sm" value="Guardar">
				</div> 

				</form>
			</div>
		</div>

	</div>

	<footer th:replace="plantilla/plantilla :: footer"></footer>

</body>
</html>